In [ ]:
# sum of the square with a function 
def ss (n):
    sum=0
    for i in range(1,n+1):
        print(i)
        sum+=i*i
    return sum
        
ss(10)

In [ ]:
# length of a list
test_list = [ 1, 4, 5, 7, 8 ]
print (len(test_list))
a=0
for i in test_list:
    a+=1
print(a)

In [ ]:
# Check if one list is subset of other

test_list = [9, 5, 4, 8, 10]
sub_list = [10, 5, 4]

n=len(sub_list)
flg=0
for i in sub_list:
    if i in test_list:
        flg+=1
if flg==n:
    print("yes its here")
else:
    print("no")

In [ ]:
string = "i am a very good data scientist, i love python"
vowels=["a", "e", "i", "o", "u"]

s=''.join([x for x in string if x not in vowels])
print(s)

 m  vry gd dt scntst,  lv pythn

In [ ]:
#important palendrom
def reverse (n):

    b= n[::-1]
    if n==b:
        print("yes palnendrom")
    else:
        print("no")
    
string= "kolkata"
reverse (string)

no

In [ ]:
#Reverse words in a given String in Python

str ="geeks quiz practice code"
s= str.split()[::-1]
print (s)

l= " ".join(s)
print(l)

['code', 'practice', 'quiz', 'geeks']
code practice quiz geeks

In [ ]:
#Remove the 5th index character from the string 
test_str = "GeeksForGeeks"

new_str=""
for i in range(len(test_str)):
    if i!=5:
        new_str+=test_str[i]
        
print(new_str)

GeeksorGeeks

In [2]:
# print the highest element
a = 5
b = 6
c = 7
str = 'c'

if a>b and a>c and a>d:
    print(a," is the greatest")
elif b>a and b>c:
    print(b," is the greatest")
else:
    print(str+" is the greatest")

c is the greatest

In [1]:
# learn the definition of factorial first
#find the factorial of a number

a= input("put number")
a= int(a)
c=1
if a==1 or a==0:
    print(1)
else:
    while a>0:
        c=c*a
        a=a-1
    print(c)

put number5
120

In [3]:

#Armstrong number

num = input("Enter no.")
num = int(num)
temp = num
length_counter= 0
while temp>0:
    length_counter = length_counter+1
    temp = temp//10
temp = num
sum = 0
while temp>0:
    digit = temp%10
    sum = sum + digit**length_counter
    temp = temp//10
    
    
if sum == num:
    print("its an armstrong number")
else:
    print("its not")

Enter no.5
its an armstrong number